
*.obj
*.exe
*.ilk
*.ipch
*.tlog
*.pdb
*.idb
*.db
*.log
线段树+树状数组/B - i_hate_it/.vs/i_hate_it/v15/.suo
*.filters
*.vcxproj
*.opendb
线段树+树状数组/C - A Simple Problem with Integers/.vs/C - A Simple Problem with Integers/v15/.suo
3.2经典解题法/A - Subsequence/.vs/A - Subsequence/v15/.suo
3.2经典解题法/C - Face The Right Way/.vs/C - Face The Right Way/v15/.suo
